SURREAL_BIND="0.0.0.0:8000"
SURREAL_USER="root"
SURREAL_PASS="root"

SURREALDB_ADDRESS="localhost:8000"
SURREALDB_NAMESPACE="vertex"
SURREALDB_DATABASE="vertex"
SURREAL_IMPORT_FILE="/fixtures/setup.surql"